@font-face
{
 font-family: din;
 src:url("../fonts/DIN.ttf");
}
#nav
{
height: 7em;
background-color: #145B75;
}
#nav li
{
list-style-type: none;
display: inline;
}

#nav span
{
float: right;
padding-right: 10px;
}

#nav li a
{
color: white;
text-decoration: none;
font-family: din;
padding-right: 20px;
font-weight: bold;
font-size: 64;

}
/*
	Demo Styles: NOT REQUIRED
*/
html,
body {
  margin: 0;
  height: 100%
}

h1,
p {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
}

section {
  text-align: center;
  color: #EFEFEF;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}

.blue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
	background-color: #3883d8;
}
.red {
	background-color: #cf3535;
}
.orange {
	background-color: #ea6300;
	font-size: 50px;
}

#parallax1
{
height: 100%;
background-image: url("../images/convoHall.png");
background-size: cover;
position: relative;
}

#parallax2
{
height: 100%;
background-image: url("http://www.paramore.net/sites/g/files/g2000001591/f/styles/photo_detail_large/public/IMG_3986.JPG");
background-size: cover;
}

#parallax1 p
{
font-family: 'Shadows Into Light', cursive;
font-size: 50px;
}


#guestLectures
{
	font-family: din;
	text-align: center;
	color: black;
	font-size: 72;
}

.speakerButton
{
height: 206px;
width: 206px;
border-radius: 103px;
margin: 90px 90px 90px;
background-image: url("http://www.technologyreview.com/sites/default/files/styles/body_embed/public/legacy/0312-lewin-a_x616.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}

#speakerDescription
{
font-family: Avenir-Book;
font-size: 42;
margin-bottom: 39.5px;
}




