#nav li
{
list-style-type: none;
display: inline;
}
/*
	Demo Styles: NOT REQUIRED
*/
html,
body {
  margin: 0;
  height: 100%
}

h1,
p {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
}

section {
  text-align: center;
  color: #EFEFEF;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}

.blue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
	background-color: #3883d8;
}
.red {
	background-color: #cf3535;
}
.orange {
	background-color: #ea6300;
	font-size: 50px;
}

#parallax1
{
height: 100%;
background-image: url("http://www.paramore.net/sites/g/files/g2000001591/f/styles/photo_detail_large/public/201412/10850124_10152574102985748_7642563119808768682_n.jpg");
background-size: cover;
position: relative;
}

#parallax2
{
height: 100%;
background-image: url("http://www.paramore.net/sites/g/files/g2000001591/f/styles/photo_detail_large/public/IMG_3986.JPG");
background-size: cover;
}

#parallax1 p
{
font-family: 'Shadows Into Light', cursive;
font-size: 50px;
}



